@import "../../app.scss";
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
      height: 20px;
      flex: 0.3;
    }
    @include tablet {
      text-align: center;
      align-self: center;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;

      @include mobile {
        text-align: center;
      }
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
      @include tablet {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 100%;
      flex-direction: unset;
      flex: none;
      padding: 5px;
    }
    @include tablet {
      width: 100%;
      flex: 1;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 5px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 150px;
          height: 30px;
        }
        @include tablet {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 20px;
        }
        @include tablet {
          font-size: 36px;
        }
        @include desktop {
          font-size: 64px;
          flex-direction: column;
        }
      }

      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 30px;
          color: white;
        }
        @include tablet {
          font-size: 16px;
          width: 200px;
          height: 50px;
          color: white;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;

    @include mobile {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .box {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      width: 300px;
      max-height: 250px;
      justify-content: flex-start;

      @include mobile {
        border: none;
        align-items: center;
        gap: 10px;
        padding: 10px;
        width: 400px;
      }
      @include tablet {
        padding: 20px;
        max-width: 180px;
        max-height: 320px;
        justify-content: flex-start;
      }
      @include desktop {
        padding: 20px;
        max-width: 230px;
        max-height: 250px;
        justify-content: flex-start;
      }

      h2 {
        @include tablet {
          font-size: 20px;
        }
      }

      p {
        padding-top: 20px;
        @include mobile {
          align-items: center;
          text-align: center;
          width: 300px;
        }
        @include tablet {
          align-items: center;
          text-align: start;
          padding-top: 20px;
        }
        @include desktop {
          align-items: center;
          text-align: start;
          padding-top: 20px;
        }
      }

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 30%;
          padding: 2px;
        }
      }
    }
  }
}
