.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: lightgray;
  padding: 40px;
  border-radius: 5px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: relative;

  h2 {
    font-size: 22px;
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  p {
    font-size: 16px;
    color: black;
  }

  .close-button {
    cursor: pointer;
    font-size: 24px;
    color: gray;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: color 0.3s;

    &:hover {
      color: black;
    }
  }
}

.modal-content button {
  margin-top: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
